@{
    ViewBag.Title = "Azure Pedia";
}

@using AzurePedia.Models

<script type="text/javascript">
    function processImage() {

        // Replace <Subscription Key> with your valid subscription key.
        var subscriptionKey = "e8d2a4ddc8c14424a23251c5ae577751";
        var uriBase =
            "https://southeastasia.api.cognitive.microsoft.com/vision/v1.0/analyze";

        // Request parameters.
        var params = {
            "visualFeatures": "Categories,Description,Color",
            "details": "",
            "language": "en",
        };

        //// Display the image.
        //var sourceImageUrl = "https://dicodingstorages.blob.core.windows.net/photos/" + ;
        //document.querySelector("#sourceImage").src = sourceImageUrl;

        // Make the REST API call.
        $.ajax({
            url: uriBase + "?" + $.param(params),

            // Request headers.
            beforeSend: function (xhrObj) {
                xhrObj.setRequestHeader("Content-Type", "application/json");
                xhrObj.setRequestHeader(
                    "Ocp-Apim-Subscription-Key", subscriptionKey);
            },

            type: "POST",

            // Request body.
            data: '{"url": ' + '"' + sourceImageUrl + '"}',
        })

            .done(function (data) {
                // Show formatted JSON on webpage.
                $("#responseTextArea").val(JSON.stringify(data, null, 2));
            })

            .fail(function (jqXHR, textStatus, errorThrown) {
                // Display error message.
                var errorString = (errorThrown === "") ? "Error. " :
                    errorThrown + " (" + jqXHR.status + "): ";
                errorString += (jqXHR.responseText === "") ? "" :
                    jQuery.parseJSON(jqXHR.responseText).message;
                alert(errorString);
            });
    };
</script>

<div class="container" style="padding-top: 24px">
    <div class="row">
        <div class="col-sm-8">
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" id="upload" style="display: none" onchange="$('#submit').click();" />
                <input type="button" value="Upload Image" class="btn btn-success btn-lg" onclick="$('#upload').click()" />
                <input type="submit" id="submit" style="display: none" />
            }
        </div>
        <div class="col-sm-4 pull-right">
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            @foreach (BlobInfo blob in ViewBag.Blobs)
            {
                <a href="@blob.ImageUri" rel="lightbox" title="@blob.Caption">
                    <img src="@blob.ThumbnailUri" width="192" title="@blob.Caption" style="padding-right: 16px; padding-bottom: 16px" />
                </a>
            }
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>Response : </b><br />
            <textarea id="responseTextArea" class="form-control UIInput" rows="10" style="max-width:50%;" readonly></textarea>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" language="javascript">
        if ("@TempData["Message"]" !== "") {
            alert("@TempData["Message"]");
        }
        if ("@TempData["FileName"]" !== "") {
            var sourceImageUrl = "https://dicodingstorages.blob.core.windows.net/photos/" + "@TempData["FileName"]";
            processImage();
        }
    </script>
}